<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../resources/css/main.css"
    />
    <script async src="../resources/js/main.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
      integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
      crossorigin=""
    ></script>
    <style>
      #map {
        height: 500px;
        width: 900px;
      }
    </style>
  </head>
  <body>
    <h1>Where is the ISS?</h1>
    <p>
      Latitude: <span id="lat"></span><br />
      Longitude: <span id="long"></span>
    </p>
    <div id="map"></div>
    <div id="footer">
      <div class="fluid">
        <ul class="inline">
          <li>
            <a href="https://github.com/MichaelH10991/Timeline">The Code</a>
          </li>
        </ul>
      </div>
    </div>
    <script src="../resources/js/map.js"></script>
  </body>
</html>
